@media (max-width: 480px) {

    #main-shop {
        overflow: scroll;
    }

    #main-shop .shop-item {
        width: 70%;
        height: 20%;
        margin: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        top: auto;
    }
}

@media (min-width: 481px) and (max-width: 968px) {

    #main-shop {
        overflow: scroll;
    }

    #main-shop .shop-item {
        width: 40%;
        height: 30%;
        margin: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
        top: auto;
    }
}
